@import 'tailwindcss';

:root {
  --clr-green-800: hsl(160 26% 17%);
  --clr-green-600: hsl(160 21% 29%);
  --clr-green-400: hsl(160 29% 74%);
  --clr-green-200: hsl(160 34% 86%);
  --clr-green-50: hsl(180 11% 96%);
  --clr-white: hsl(0 0% 100%);
}

@theme {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --color-highlight: var(--clr-green-800);
  --color-primary: var(--clr-green-600);
  --color-secondary: var(--clr-green-400);
  --color-background: var(--clr-green-200);
  --color-light: var(--clr-green-50);
  --color-base: var(--clr-white);
}

body {
  background-color: var(--color-background);
  color: var(--color-highlight);
  font-family: var(--font-body);
}

h1,
h2 {
  font-family: var(--font-heading);
}
